/*

  - SPACING SYSTEM (px)
  2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

  - FONT SIZE SYSTEM (px)
  10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

  - FONT WEIGHTS: 
  Default: 400
  Medium: 500
  Semi-bold: 700
  Bold: 900

  - LINE HEIGHTS: 


  - LETTER SPACING
  
  

  - PRIMARY COLOR: 
  
  - TINTS: 
  
  
  - SHADES: 
  #a5d8ff
  #e7f5ff
  
  - ACCENTS: 
  
  - GRAYS:
  Main Font = #555 
 

  - SHADOWS: 
  

  - BORDER RADIUS: 
  

  - WHITE SPACE: 

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  background-color: #e7f5ff;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  overflow-x: hidden;
  max-width: 130rem;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4.6rem;
  font-size: 3.6rem;
}

.header-h1 {
  text-align: center;
}

.search-sort-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2.4rem;
}

.search-section-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 4.6rem;
}

.search-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.2rem;
  justify-items: center;
  align-items: center;
}

.search-section-input {
  grid-column: 1 / 3;
  font-size: 1.8rem;
  font-family: inherit;
  color: #555;
  background-color: #f1f3f5;
  border: none;
  border-radius: 10px;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  padding: 0.7rem;
  width: 100%;
}

.search-section-radios {
  font-size: 1.6rem;
}

.sort-section-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 4.6rem;
}

.sort-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.2rem;
}

.sort {
  grid-row: 1 / 3;
  align-self: center;
  font-size: 1.8rem;
}

.sort-section-radios {
  font-size: 1.6rem;
}

.main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 90rem;
  margin: 0 auto;
}

.book-article {
  margin: 2.4rem;
  padding: 2.4rem;
  background-image: linear-gradient(
    to right bottom,
    #e7f5ff,
    #a5d8ff,
    #e7f5ff,
    #a5d8ff
  );
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.book-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.img-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cover-img {
  width: 150px;
  height: 231px;
  object-fit: cover;
  border-radius: 10px;
}

.description-list {
  font-size: 1.6rem;
  font-weight: 500;
  list-style: none;
  line-height: 1.5;
  align-self: center;
}

.description-list-item {
  margin: 1.2rem;
}

.list-label {
  font-weight: 900;
}

.title {
  margin-top: 0;
}

.description {
  margin-bottom: 0;
}
